<a href="https://colab.research.google.com/github/zhinanakhaei/Zhina-/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Explore the %, //, and  operators with numerical examples.
#از متغیر های موجود در قسمت Assigning variables استفاده میکنیم
a = 2
b = 4
#برای نشون دادن عملگر ها نیاز داریم متغییر جدید تعریف کنیم
c=("a % b")
d=("a // b")
e=("a  b")
#c باقیمانده تقسیم
#d تقسیم
#e توان
print(c)
print(d)
print(e)

a % b
a // b
a  b

In [ ]:
# 2. Check the type of %, //, and . What do you conclude?
a = 2
b = 4
c = 3.5
# وقتی هر دو عدد، عدد صحیح (int) باشند:
type("a % b")
type("a // b")
type("a  b")

# اگر یکی از آنها اعشاری باشئ
type("a % c")
type("a // c")
type("a ** c")


# پرینت
print(type("a % b"))
print(type("a % c"))

#(نتیجه:
#اگر هر دو عدد صحیح باشند، نتیجه نیز از نوع عدد صحیح است.
#اگر یکی از آن‌ها اعشاری (float) باشد، نتیجه از نوع اعشاری خواهد بود.)

<class 'str'>
<class 'str'>

In [ ]:
#3. Can you perform mathematical operations on sequential data types? Which types allow it, and with which types do errors occur?

#نمونه متغیرها:
string_1 = "Hello"
list_1 = ["Robert, 20, Marcus, 22"]
tuple_1 = (4, 5, 6)

#عملیات مجاز
string_1 * 2
tuple_1 * 2
list_1 + list_1
#پرینت  مجاز ها
print(string_1 * 2 )
print(tuple_1 * 2 )
print(list_1 + list_1)

#عملیات غیر مجاز
# tuple_1 / 2
# data + data
# set1 - set2

#نتیجه:
#در نوع‌های ترتیبی مثل رشته (string)، لیست (list) و تاپل (tuple) فقط عملگرهای + (اتصال) و * (تکرار) مجاز هستند.
#اما در دیکشنری (dict) و مجموعه (set) نمی‌توان از این عملگرهای ریاضی به‌صورت مستقیم استفاده کرد.

HelloHello
(4, 5, 6, 4, 5, 6)
['Robert, 20, Marcus, 22', 'Robert, 20, Marcus, 22']